{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}            
CURSOS
{% endblock titulo %}

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Comision</th>
        </tr>
    </thead>
    <tbody>
    {% for curso in cursos %}
    <tr>
        <td>{{ curso.id }}</td>
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.comision }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}