{% extends 'aplicacion/mantenimiento_list.html' %}
{% load static %}

{% block contenido %}

<h4>
    Resultado de la búsqueda para el numero de operacion: {{numero_operacion}}
</h4>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Número de Operación</th>
            <th>Descripción</th>
            <th>Planificado</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
    {% for mantenimiento in mantenimientos %}
    <tr>
        <td>{{ mantenimiento.numero_operacion }}</td>
        <td>{{ mantenimiento.descripcion }}</td>
        <td>{{ mantenimiento.planificado }}</td>
        <td>{{ mantenimiento.fecha }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<div class="d-flex justify-content-center mb-4">
    <a class="btn btn-primary text-uppercase" href="{% url 'busqueda_mantenimiento' %}">Volver →</a>
</div>

<br>

{% endblock contenido %}