{% extends 'aplicacion/mantenimientos.html' %}
{% load static %}

{% block contenido %}

<h4>
    Resultado de la Búsqueda para Mantenimiento {{numero_operacion}}
</h4>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Número de Operación</th>
            <th>Descripción</th>
            <th>Planificado</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
    {% for mantenimiento in mantenimientos %}
    <tr>
        <td>{{ mantenimiento.numero_operacion }}</td>
        <td>{{ mantenimiento.descripcion }}</td>
        <td>{{ mantenimiento.planificado }}</td>
        <td>{{ mantenimiento.fecha }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}