{% extends 'aplicacion/empleados.html' %}
{% load static %}

{% block contenido %}

<h4>
    Resultado de la búsqueda de empleados:
</h4>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
            <th>Email</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
    {% for empleado in empleados %}
    <tr>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.apellido }}</td>
        <td>{{ empleado.rol }}</td>
        <td>{{ empleado.email }}</td>
        <td>{{ empleado.telefono }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}