<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Busqueda</title>
</head>
<body>
    <h2>
        Cursos de la Comision {{comision}}
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Comision</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
        <tr>
            <td>{{ curso.id }}</td>
            <td>{{ curso.nombre }}</td>
            <td>{{ curso.comision }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>