<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Busqueda</title>
</head>
<body>
    
</body>
</html>



{% extends 'aplicacion/index.html' %}
{% load static %}

{% block titulo %}            
Mantenimientos
{% endblock titulo %}

{% block subtitulo %}            
{% endblock subtitulo %}

{% block contenido %}

<h2>
    Resultado de la Búsqueda para Mantenimiento {{numero_operacion}}
</h2>
<table class="table">
    <thead>
        <tr>
            <th>Número de Operación</th>
            <th>Descripción</th>
            <th>Planificado</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
    {% for mantenimiento in mantenimientos %}
    <tr>
        <td>{{ mantenimiento.numero_operacion }}</td>
        <td>{{ mantenimiento.descripcion }}</td>
        <td>{{ mantenimiento.planificado }}</td>
        <td>{{ mantenimiento.fecha }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}